body {
	font-family: 'Open Sans', sans-serif;
}

h1, h2, h3 {
	font-family: 'Montserrat', sans-serif;
}

.separator {
	background-color: #818285;
	height: 2px;
	margin: 60px auto;
	text-indent: -999999px;
	width: 40%;
}

.separator-vertical {
	background-color: #b3b3b3;
	height: 80%;
	text-indent: -999999px;
	width: 2px;
}

.navbar-default {
	background-color: #fff;
	border: none;
	padding: 32px 0 32px 75px;
}

#bs-example-navbar-collapse-1 {
	padding-right: 75px;
}

.navbar-default .navbar-brand {
	background: url(../images/mbs-logo.png) no-repeat center center;
	background-size: contain;
	text-indent: -999999px;
	width: 345px;
}

.navbar-default .brand-copy {
	color: #58585a;
	font-weight: 600;
	font-size: 1.4em;
	padding-left: 85px;
	text-transform: uppercase;
	width: 280px;
}

.navbar-default .navbar-nav>li>a {
	color: #4d4d4d;
	font-family: 'Montserrat', sans-serif;
	font-size: 1.15em;
	text-transform: uppercase;
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>.active>a:hover {
	background-color: transparent;
	color: #0080b3;
}

.navbar-default .navbar-nav>.active>a {
	background-color: transparent;
	font-weight: 600;
}

.carousel-control {
	height: 37px;
	margin-top: -18px;
	opacity: 1;
	top: 50%;
	width: 37px;
}

.carousel-control.left {
	background: url(../images/mbs-sprite.png) no-repeat -553px -48px;
	left: -40px;
}

.carousel-control.right {
	background: url(../images/mbs-sprite.png) no-repeat -553px -95px;
	right: -40px;
}

.text-container {
	margin: 0 auto;
	width: 82%;
}

header h1 {
	color: #00658f;
	font-size: 4.3em;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
}

header .billboard-wrapper,
#about .billboard-wrapper {
	border-radius: 1px;
  	box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.1); 
	margin-top: 95px;
	position: relative;
}

header .billboard-wrapper,
header .billboard-bg,
header .billboard-copy,
#about .billboard-wrapper,
#about .billboard-copy,
#about .billboard-bg {
	height: 190px;
	width: 100%;
}

header .billboard-img {
	background: url(../images/billboard.jpg) no-repeat center center;
	background-size: cover;
	min-height: 851px;
	padding-top: 200px;
}

header .billboard-bg,
#about .billboard-bg {
	background-color: #fff;
	opacity: .57;
	-moz-opacity: .57;
	-webkit-opacity: .57;
	filter: alpha(opacity = 57);
	padding: 20px 40px;
	position: absolute;
}

header .billboard-copy,
#about .billboard-copy{
	color: #636363;
	font-size: 1.5em;
	font-weight: 600;
	margin: 0;
	padding: 20px 40px;
	position: absolute;
	text-align: center;
}

.compromiso-icon,
.servicios-icon,
.ayuda-icon {
	height: 180px;
	margin: 0 auto;
	text-indent: -999999px;
	width: 180px;
}

.compromiso-icon {
	background: url(../images/mbs-sprite.png) no-repeat -1px 0;
}

.servicios-icon {
	background: url(../images/mbs-sprite.png) no-repeat -184px 0;
}

.ayuda-icon {
	background: url(../images/mbs-sprite.png) no-repeat -367px 0;
}

.opciones {margin-top: 70px;}
.opciones .row {
	border-bottom: 1px solid #e7e7e7;
}

.opciones h3 {
	color: #4d4d4d;
	font-weight: 700;
	margin-bottom: 34px;
	margin-top: 60px;
	text-align: center;
	text-transform: uppercase;
}

.opciones p {
	color: #727272;
	margin-bottom: 60px;
	text-align: center;
}

.servicios {
	padding-top: 70px;
}
#service {
	height: 599px;
}

#carousel-service-thin {margin-top: 50px;}

#service-full {
	background: url(../images/modalservicios.jpg) no-repeat center center;
	background-size: cover;
	display: none;
	height: 599px;
	position: relative;
	text-align: center;
}

#service-full #carousel-service-big {height: 100%}

#service-full .carousel-control {
	margin-top: -17px;
	position: absolute;
	top: 50%;
}

#service-full .carousel-control.left {
	background: url(../images/mbs-sprite.png) no-repeat -592px -47px;
	left: 10%;
}

#service-full  .carousel-control.right {
	background: url(../images/mbs-sprite.png) no-repeat -593px -97px;
	right: 10%;
}

#service-full .text-container {
	text-align: center;
	width: 70%;
}

#service-full .text-container h3 {
	border-bottom: 2px solid #6f6f6f;
	color: #4d4d4d;
	font-size: 30px;
	font-weight: 600;
	padding: 60px 0;
	text-transform: uppercase;
}

#service-full .text-container p {
	font-size: 1.3em;
}

#service-full .text-container p:nth-child(2) {
	margin-top: 60px;
}

#service-full .text-container .bullets ul {
	float: left;
	font-weight: bold;
	text-align: left;
	width: 50%;
}

#service-full .ver-todos {
	border: 2px solid #4d4d4d;
	bottom: 5%;
	color: #4d4d4d;
	font-size: 1.5em;
	font-weight: bold;
	left: 50%;
	margin-right: -50%;
	padding: 10px 40px;
	position: absolute;
	transform: translate(-50%, -50%);
	text-transform: uppercase;
	-webkit-border-radius: 48px;
	-moz-border-radius: 48px;
	border-radius: 48px;
}

#service-full .ver-todos:hover,
#service-full .ver-todos:active {
	text-decoration: none;
}

.servicios #carousel-servicios {margin-top: 50px;}

.servicios h2,
.quienes h2,
.otros h2,
.contacto h2 {
	color: #4d4d4d;
	font-weight: 600;
	text-align: center;
	text-transform: uppercase;
}

.quienes h2 {
	color: #fff;
}

.servicios .servicio-wrapper {position: relative;}

.servicios .servicio-wrapper:hover .ver-mas{display: block;}

.servicio-wrapper .ver-mas {
	border: 1px solid #fff;
	display: none;
	height: 98px;
	left: 50%;
	margin: -49px -49px;
	position: absolute;
	text-align: center;
	top: 50%;
	width: 98px;
	border-radius: 49px;
	-moz-border-radius: 49px;
	-webkit-border-radius: 49px;
}

.servicio-wrapper .ver-mas a {
	color: #fff;
	line-height: 95px;
	text-align: center;
	text-transform: uppercase;
}

.servicio-wrapper .ver-mas a:hover {text-decoration: none;}

.servicios .servicio-wrapper img {max-width: 100%;}

.servicios .servicio-copy-wrapper {
	bottom: 0;
	position: absolute;
}

.servicios .servicio-copy-wrapper,
.servicios .servicio-copy-bg,
.servicios .servicio-copy {
	height: 60px;
	width: 100%;
}

.servicios .servicio-copy,
.servicios .servicio-copy-bg {position: absolute;}

.servicios .servicio-copy-bg {
	background-color: #2a8cb4;
	opacity: .75;
}

.servicios .servicio-copy {
	color: #fff;
	font-size: 1.15em;
	font-weight: 600;
	line-height: 1;
	margin: 0;
	padding: 13px 20px;
	text-align: center;
	text-transform: uppercase;
}

.quienes {
	background: #f5f5f5 url(../images/quienessomos.jpg) no-repeat center center;
	background-size: cover;
	min-height: 560px;
}

#about .billboard-wrapper {
	margin: 0 auto;
	width: 72%;
}

#about .billboard-bg,
#about .billboard-copy,
#about .billboard-wrapper {
	height: 300px;
}

#about .billboard-copy {
	padding: 70px 40px;
}

#about .billboard-wrapper .small-line,
#about .billboard-wrapper .small-line-bottom {
	background-color: #3096bf;
	height: 6px;
	left: 50%;
	margin-left: -2.5%;
	position: absolute;
	text-indent: -9999999px;
	top: 10%;
	width: 7%;
	z-index: 2;
}

#about .billboard-wrapper .small-line-bottom {
	top: 90%;
}

.quienes h2 {
	margin: 45px;
}

.quienes .quienes-descripcion {
	color: #727272;
	font-size: 1.2em;
	margin-top: 40px;
	text-align: center;
}

.quienes .billboard-copy .resaltado {
	color: #3096bf;
	font-weight: 700;
}

.quienes .portrait-wrapper {
	border: 3px solid #3096bf;
	height: 182px;
	margin: 60px auto;
	text-indent: -999999px;
	width: 182px;
	border-radius: 91px;
	-moz-border-radius: 91px;
	-webkit-border-radius: 91px;
}

.quienes .portrait-info {
	color: #4d4d4d;
	margin-top: 20px;
	text-align: center;
}

.quienes .portrait-info .nombre {
	font-weight: 700;
	margin: 0;
}

.quienes .portrait-info .separator {
	color: #b3b3b3;
	margin: 3px auto;
	width: 50%;
}

.quienes .portrait-info .titulo {
	font-weight: 600;
	margin: 5px 0;
}

.quienes .carousel-control.left {
	background: url(../images/mbs-sprite.png) no-repeat -592px -47px;
	height: 36px;
	left: -40px;
	width: 24px;
}

.quienes .carousel-control.right {
	background: url(../images/mbs-sprite.png) no-repeat -593px -97px;
	height: 36px;
	right: -40px;
	width: 24px;
}

#contact .placemark {
	background: url(../images/mbs-sprite.png) no-repeat -559px 0;
	height: 29px;
	left: 34%;
	position: absolute;
	text-indent: -9999999px;
	top: -15px;
	width: 25px;
}

.contacto {
	color: #717171;
	margin-top: 40px;
	position: relative;
}

.contacto .separator {
	background-color: #b3b3b3;
	margin: 0;
	position: absolute;
	top: 80px;
	width: 100%
}

.contacto h2 {margin-bottom: 30px;}

.contacto .direccion,
.contacto .enviar-email {
	margin-top: 30px;
	text-align: center;
}

.contacto .enviar-email .ovalo {
	background-color: transparent;
	border: 2px solid #4d4d4d;
	border-radius: 50px;
	font-weight: bold;
	height: 50px;
	line-height: 42px;
	margin: 0 auto;
	text-transform: uppercase;
	width: 206px;
}

.contacto .enviar-email .ovalo a {
	color: #4d4d4d;
	font-size: 1.3em;
	font-weight: 700;
	text-transform: uppercase;
}

.contacto .direccion .separator-vertical {
	position: absolute;
	right: 0;
}

.contacto .direccion .tel {font-weight: 700;}

.contacto .mapa {
	border-top: 2px solid #b3b3b3;
	margin-top: 25px;
	position: relative;
}

#emailModal .row-panel {
	text-align: right;
}

#emailModal .row-panel label {
	text-align: center;
	width: 20%;
}

#emailModal .row-panel input[type="text"] {
	margin-left: 20px;
	width: 70%;
}

.row-panel .text-area {
	height: 90px;
	overflow-y: scroll;
}

.otros .separator {
	width: 100%;
}

.otros {text-transform: uppercase;}

.otros .listado {
	list-style: none;
}

.otros .listado li {padding: 10px;}

.otros .listado.mas-centrado li {padding: 10px 25%;}

.otros .listado li a {
	color: #4d4d4d;
	font-weight: 600;
}

.otros .listado li a:hover {
	color: #1280b5;
	font-weight: 700;
	text-decoration: none;
}

footer {
	background-color: #3b3b3b;
	color: #fff;
	margin-top: 70px;
	padding: 70px 0;
}

footer h4 {
	font-weight: 600;
	letter-spacing: 2px;
}

footer a,
footer a:visited,
footer p {color: #ebebeb;}

footer a:hover {
	color: #0080b3;
	text-decoration: none;
}

footer .oficinas,
footer .empresa,
footer .soporte,
footer .derechos {height: 167px;}

footer .oficinas,
footer .empresa,
footer .soporte {border-right: 2px solid #fff;}

footer .oficinas h4,
footer .empresa h4,
footer .soporte h4 {
	margin-bottom: 30px;
}

footer .oficinas h4,
footer .empresa h4 {
	text-transform: uppercase;
}

footer .derechos p:nth-child(3) {
	margin-top: 40px;
}